
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
a {
    text-decoration: none;
    color: white;
}
ul {
    list-style: none;
}
/* Background video */
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.background-video video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.4);
}
.background-video::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(35, 45, 57 0.8);
    pointer-events: none;
}

/* Nav bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    background-color: #80808080;
    padding: 15px 50px;
    font-weight: 800px;
}
.navbar ul{
    display: flex;
    align-items: center;
}
.navbar ul a {
    padding: 10px 30px;
    display: block;
    font-size: 14px;
}
.logo {
    font-size: 30px;
    font-weight: bolder;
    padding-left: 30px;
}
.logo .one {
    color: #f4f4f4;
}
.logo .two {
    color: #f56700;
}
.navbar ul li:hover {
    color: #f56700;
    transition: 0.5s;
   
}
.navbar ul li:active {
    color: #f56700;
    transition: 0.5s;
}
.btn-one {
    border: none;
    background-color: #ED563B;
    padding: 15px;
    letter-spacing: 0.5;
    font-weight: bold;
    width: 100%;
    color: #fff;
    cursor: pointer;
  }
.btn-one:hover{
    color: red;
    transition: 0.5s;
    background-color: #f07762;
}
/* Hero section */
.hero {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}
.content-hero {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  z-index: 2;
  margin-top: 120px;
  text-align: center;
}
.content-hero h6 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.content-hero h4 {
    font-size: 90px;
    margin-bottom: 30px;
    font-weight: bolder;
}
.content-hero .gym {
    color: #f56700;
}
.btn-two {
    border: none;
    background-color: #f56700;
    color: white;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn-two:hover{
    background-color: #f07762;
    transition: 0.5s;
    color: white;
}
 
.container-md {
    position: relative;
    width: calc(100% - 25px);
    height: 100vh;
    margin: 10px auto;
    margin-left: 10px;
    padding: 0;
    z-index: -2;
} 


  /* Program Section */
.program {
    margin-top: 120px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: auto; /* Resetting z-index to default */
    font-family: 'Poppins',sans-serif;
}
 
/* Program Section Heading */
.program h2 {
    text-align: center;
    line-height: 1.2;
    font-size: 30px;
    letter-spacing: 0.5px;
     
    color: #232d39;
    font-weight: bolder;
}

/* Emphasis on Program Section Heading */
.program span {
    color: red;
    
}

/* Program Section Image */
.program img {
    margin: 20px auto;
}

/* Program Section Paragraph */
.program p {
    font-size: 18px;
    line-height: 20px;
    color: #7a7a7a;
    margin-top: 0;
}

/* Program List */
.program-list {
    margin-bottom: 80px;
    text-align: left;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    z-index: auto; /* Resetting z-index to default */
    width: 90%;
    margin-right: auto;
     
    margin-top: 40px;
    
}

/* Program Item */
.program-item {
    display: flex;
}
 

/* Program Item Heading */
.program-item h3 {
    margin-top: 20px;
    margin-bottom: 7px;
    letter-spacing: 0.1px;
    color: #232d39;
    font-size: 30px;
    font-weight: bolder;
    text-transform: capitalize;
    margin-left: 20px;
    
}
 



/* Program Item Paragraph */
.program-item p {
    color: #777;
}

/* Links in Program Item Paragraph */
.program-item p a {
    color: rgb(138, 138, 236);
}

/* Program Item Link */
.program-item a {
    margin-top: 7px;
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    color: #ed563b;
    font-weight: 500;
    text-decoration: none;
}

.program-list .content h3 {
    font-size: 20px;
    font-weight: 600;
}

/* Discover More Button */
.disco {
    margin-left: 20px;
}

/* Member Section */
.container {
    padding: 120px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    background-image: url(project-imgs/contact-bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    z-index: auto; /* Resetting z-index to default */
     
}
 
/* Member Section Heading */
h2 {
    font-weight: bolder;
    color: white;
    line-height: 3;
}

/* Member Section Paragraph */
p {
    margin-left: 20px;
    line-height: 2;
    font-size: 17px;
    color: white;
}

/* Emphasis in Member Section */
span {
    color: red;
}

/* Member Section Button */
 
.btn-three {
    border: none;
    background-color: #ED563B;
    color: #f4f4f4; 
    padding: 14px ;
    cursor: pointer;
    margin-top: 15px;
    font-weight: bold;
   margin-top: 20px;
     
}

/* Button Hover Effect */
.btn-three:hover {
    background-color: #f07762;
    transition: 0.5s;
    color: white;
}

 /* classes section start */
 .our-classes {
    width: 90%;
    margin-top: 1px;
    margin-right: auto;
    margin-left: auto;
  }

 /* Header */

  .our-classes .header {
    margin-top: 160px;
    margin-bottom: 30px;
  }

  /* Content */

  .our-classes .header .content {
    text-align: center;
    margin: 0 auto;
    width: 60%;
  }

  .our-classes .header .content h3 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .our-classes .header .content span {
    color: #ED563B;
  }

  .our-classes .header .content img {
    width: 55px;
    margin-bottom: 20px;
  }

.our-classes .header .content P {
    color: #7a7a7a;
    line-height: 1.5;
    font-size: 18px;
}

/* List sections */

  .list-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    height: 100vh;
    margin-top: 90px;
  }

  /* class list */

  .class-list {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 15px;
    background-color: #fff;
    padding: 30px 30px;
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    letter-spacing: 0.5;
    font-weight: 600;
  }

  /* List header */

  .class-list .list-header {
    font-weight: normal;
    letter-spacing: 0.5px;
    text-transform: lowercase;
    font-size:large;
  }

 

  /* class list section */

  .class-list-section {
    width: 30%;
  }

  /* btn one */

  .btn-one {
    border: none;
    background-color: #ED563B;
    padding: 15px;
    letter-spacing: 0.5;
    font-weight: bold;
    width: 100%;
    color: #fff;
    cursor: pointer;
  }

  /* first training class section */


  .first-training-class-section {
    width: 60%;
  }
  .first-training-class-section img {
    width: 100%;
    border-radius: 8px;
  }
  .first-training-class-section .header {
    font-size: 23px;
    font-weight: 700;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .first-training-class-section p {
    font-size: 16px;
    color: #7a7a7a;
    margin-bottom: 28px;
    line-height: 2;
  }

  /* btn two */

 .btn-two {
    border: none;
    background-color: #ED563B;
    padding: 10px 30px;
    letter-spacing: 0.5;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
  }

  
/* Classes schedule */

.classes-schedule {
    background-image: url(project-imgs/schedule-bg.jpg);
    background-size: cover;
    background-position: center center;
    margin-top: 150px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 90px;
    color: #ffff;
}

/* Class schedule content */
.classes-schedule-content {
    text-align: center;
}

/* class schedule header */

.classes-schedule-header {
    color: #ffff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
     
}

.classes-schedule-header h3 {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 18px;
}

.classes-schedule-header span {
    color: #ed563b;
}

.classes-schedule-header img {
    width: 60px;
    margin-bottom: 18px;
}

.classes-schedule-header p {
    margin-bottom: 70px;
    font-size: 15px;
}

/* class schdule table */

/* Classes schedule table cption */

/* ul */

.classes-schedule-table-caption ul {
    list-style: none;
}

.classes-schedule-table-caption li {
    display: inline-block;
    margin-right: 15px;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 40px;
}

.classes-schedule-table-caption li:first-child {
    color: #ed563b;
}

/* classes schedule table table */

.classes-schedule-table-table table  {
    align-items: center;
    width: 100%;
}

/* Table */

table {
    border-collapse: collapse;
     
}

th, tr, td {
    border: 1px solid #ffff;
    padding: 35px;
    font-weight: normal;
}

 /*Expert trainer*/

 
 .trainer{
    margin-top: 140px;
    margin-bottom: 80px;
    width: 70%;
    margin-left: 190px;
  }
  #container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  }
  .trainer{
    text-align: center;
    margin-top: 140px;
    margin-bottom: 80px;
  }
  .trainer em{
    color: red;
  }
   
  .trainer h2{
    font-size: 28px;
    font-weight: bold;
    color: #232d39;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 0px;
     margin-bottom: 0px;
  }
  .trainer img{
    margin:  10px;
  }
  .trainer p{
    font-size: 18px;
    line-height: 2;
    color: #7a7a7a;
    margin-top: 10px;
  
  }
  .trainer-item{
    display: flex;
    position: relative;
    width: 100%;
   margin-bottom: 40px;
   
  }
  .trainer-item .content{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    padding: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .image{
    width: 100%;
    border-radius: 5px;
  }
  .trainer-item span{
    font-size: 13px;
    font-weight: 500;
    color: #ed563b;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .trainer-item h4{
    font-size: 19px;
    font-weight: 600;
    color: #232d39;
    letter-spacing: 0.5px;
    margin-bottom: 18px;
  }
  .trainer-item p{
    margin-bottom: 20px;
    font-size: 15px;
    line-height: 25px;
    color: #7a7a7a;
    margin-left: auto;
    margin-right: auto;
  }
   
  .trainer-item ul.social-icons li {
    display: inline-block;
    margin-right: 12px;
  }
  .trainer-item ul.social-icons li:last-child {
    margin-right: 0px;
  }
  .trainer-item ul.social-icons li a {
    color: #232d39;
    transition: all .3s;
  }
  .trainer-item ul.social-icons li a:hover {
    color: #ed563b;
  }